sudo: required
language: scala
scala:
  - 2.11.8
jdk:
  - oraclejdk8

cache:
  directories:
    - $HOME/.m2/repository
    - $HOME/.sbt
    - $HOME/.ivy2

before_cache:
  # Tricks to avoid unnecessary cache updates
  - find $HOME/.ivy2 -name "ivydata-*.properties" -delete
  - find $HOME/.sbt -name "*.lock" -delete

services:
  - docker

before_script:
  - echo $TRAVIS_BRANCH
  - echo $TRAVIS_PULL_REQUEST
  - echo $TRAVIS_TAG

script:
  - sbt test docker:publishLocal

after_success:
  - if [ "${TRAVIS_BRANCH}" = "master" ] && [ "${TRAVIS_PULL_REQUEST}" = "false" ] && [ "${TRAVIS_TAG}" != "" ]; then
    docker login -e="$DOCKER_EMAIL" -u="$DOCKER_LOGIN" -p="$DOCKER_PASS";
    docker push yarosman/captchanator;
    fi